* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Faz o container ocupar a altura total da tela */
}

.conteudo {
    flex: 2; /* Faz o conteúdo crescer para ocupar o espaço restante */
    padding: 0; 
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
/* footer.css */
/* .footer {
    margin-top: 20px;
    background-color: #2c3e50;
    color: #ffffff;
    text-align: center;
    position:webkit-sticky;
    padding: 8px 0;
    font-size: 14px;
  } */
  
  .footer .copyright {
    margin-bottom: 10px;
    color: #ffffff;
  }
  
  .footer .copyright strong {
    color: #ecf0f1;
  }
  
  .footer .credits {
    font-size: 12px;
    color: #bdc3c7;
  }
  
  .footer .credits p {
    margin: 0;
  }
  
  .footer .credits strong {
    color: #ecf0f1;
  }
  